# Load plugins using antidote
{{ if eq .chezmoi.os "darwin" }}
source $(brew --prefix)/opt/antidote/share/antidote/antidote.zsh
{{ end }}
antidote load

# Put additional machine-specific content here
source ~/.zshrc_local
